@model PowerBIEmbedded_AppOwnsData.Models.EmbedConfig
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="buttonsWrapper">
        Select an entity to embed.<br /><br />
        <a id="btnEmbedReport" href="~/Home/EmbedReport">Embed Report</a>
        <br />
        <a id="btnEmbedDashboard" href="~/Home/EmbedDashboard">Embed Dashboard</a>
        <br />
        <a id="btnEmbedTile" href="~/Home/EmbedTile">Embed Tile</a>
    </div>
@*<iframe src="http://advancedreports.sakonapps.com/pbireports/powerbi/MckessonReports/DemoDashboard?rs:embed=true" width="768px" height="600px"></iframe>*@